{% extends 'main.html' %}
{% load static %}
{% block title %}
collectfees
{% endblock title %}
{% block content %}
            <div class="col py-3 ">
                <div class="row">
                <div class="col-3"></div>
                <div class="col-5 p-5">
                    <div class="card p-5"  style="background-image: linear-gradient(blue,white);box-shadow: 15px 10px 10px;">
                        <h1>collect Fees:</h1>
                        <form action="" method="POST">
                        {% csrf_token %}
                        <div class="row g-3 align-items-center mt-3">
                            <div class="col-auto">
                              <label for="course" class="col-form-label h4">course :</label>
                            </div>
                            <div class="col-auto">
                              <input type="text" id="course" class="form-control" name="coursename" value="">
                            </div>
                        </div>
                        <div class="row g-3 align-items-center mt-3">
                            <div class="col-auto">
                              <label for="fees" class="col-form-label h4"> fees :</label>
                            </div>
                            <div class="col-auto">
                              <input type="number" id=" fees" class="form-control" name="coursefees">
                            </div>
                        </div>
 
                          <div class="text-center mt-5"><button type="submit" class="btn btn-success" >Submit</button></div>
                    </div>
                    </form>
                  
                </div>
                <div class="col-4"></div>

    </div>
    </div>
    {% endblock content %}