{% extends 'main.html' %}
{% load static %}
{% block title %}
Totalstudents
{% endblock title %}
{% block content %}
            <div class="col py-3 ">
              <div class="container-fluid">
                <div class="row">
                    <div class="col-6"><h2>Fees Payment</h2></div>
                    <div class="col-5">
                        <div class="input-group rounded">
                        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" id="searchInput">
                        <span class="input-group-text border-0" id="search-addon">
                            <button class="border-0" onclick="searchTable()"><i class="fa fa-search"></i></button>
                        </span>
                      </div></div>
                      <div class="card">
                        <div class="card-body">
                        <table class="table table-bordered table-responsive "id="dataTable">
                          <thead>
                            <tr>
                              <th>Id.No</th>
                              <th>Name</th>
                              <th>Course</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                          {% for data in std %}
                            <tr>
                              <td>{{}}</td>
                              <td>{{data.Name}}</td>
                              <td>{{data.course}}</td>
                              <td><button class="btn btn-success p-2"><a href="{% url 'collect_f' %}" class="text-white nav-link">collect Fees</a></button></td>
                            </tr>
                            <tr>
                          {% endfor %}
                          </tbody>
                         
                        </table>
            </div>
          </div>
         </div>
        </div>
    </div>
    {% endblock content %}
 